@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

* {
  font-family: Outfit;
}

:root {
  --section-height: 500px;
  --gradient-stop: 500px;
}

.section {
  height: var(--section-height);
}

@layer utilities {
  .grid-cols-auto {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}



